@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

:root {
  --primary-color: #ff6666;
  --secondary-color: white;
  --carrousel-gap: 0;

  --mobile-title-size: 60px;
  --mobile-subtitle-size: 20px;
  --mobile-title-margin: -20px;
  --mobile-carrousel-height: 100px;
  --mobile-buttons-font-size: 20px;
}

main {
  max-height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  --font-family: "Jaro";
}

section {
  font-family: var(--font-family);

  place-items: center;
  justify-content: center;

  height: 100vh;
  scroll-snap-align: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
  font-weight: bolder;

  color: white;
  background-color: var(--primary-color);
}

.hero-section__title {
  font-size: var(--mobile-title-size);
  margin-bottom: var(--mobile-title-margin);
}

.hero-section__subtitle {
  font-size: var(--mobile-subtitle-size);
}

.hero-section__carrousel {
  display: flex;
  overflow: hidden;
  height: var(--mobile-carrousel-height);
}

.hero-section__carrousel:hover .carrousel__group {
  animation-play-state: paused;
}

.carrousel__group {
  display: flex;
  flex-shrink: 0;

  will-change: transform;
  animation: scrolling 10s linear infinite;
}

.carrousel__item {
  border: 2px solid rgb(255, 255, 255);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
